.App {
  text-align: center;
}

.cards-div {
  margin-top: 250px;
  display: flex;
  justify-content: center;
}

.cards {
  border: solid lightgrey 1px;
  width: 150px;
  height: 230px;
  background-color: lightblue;
}

.cards:first-child {
  background-color: lightgrey;
}

.cards h4 {
  color: rgb(85, 84, 84);
}

.cards img {
  padding: 0;
}

.temp-div {
  display: flex;
  justify-content: space-evenly;
}

.temp-div p {
  font-weight: bold;
}

.temp-div p:first-child {
  color: red;
}

.temp-div p:nth-child(2) {
  color: blue;
}